* {
  padding: 0px;
  margin: 0px;
  border: none;
  color: #eaeaea;
  scroll-behavior: smooth;
  font-size: 24px;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: rgb(25, 24, 29);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("./static/img/welcome_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  background-attachment: fixed;
  min-height: 100vh;
}
.header-headline,
.header-slogan,
.header-options {
  animation: 3s show ease-in;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  list-style: none;
  padding: 0;
  width: 70%;
  margin-top: 70px;
  margin-inline: 100px;
}

.navigation li {
  display: inline-block;
  margin-right: 6%;
}

.navigation li a {
  text-decoration: none;
}

.navigation li a:hover {
  color: #88015b;
  transition: 0.5s;
}

.logo {
  margin: 1.1em 1.1em;
  height: 12em;
  filter: drop-shadow(6px 4px 36px rgba(255, 255, 255, 0.32));
  user-select: none;
  pointer-events: none;
}
.header-headline {
  font-size: 30px;
  margin-inline: auto;
  color: #d81696;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.header-headline:first-of-type {
  font-weight: 900;
  margin-top: -70px;
}

.header-slogan {
  font-size: 80px;
  margin-left: 100px;
}
.header-options {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 20px;
  gap: 40px;
}

.main {
  padding: 30px 0;
  display: flex;
  flex-direction: column;

  gap: 80px;
}

.main-title {
  font-size: 50px;
  margin-bottom: 30px;
  z-index: 20;
}
.panorama {
  padding-block: 20px;
  margin-inline: auto;
  display: flex;
  gap: 40px;
}
.panorama img {
  user-select: none;
  pointer-events: none;
  height: 25vw;
}
.process-steps {
  z-index: 0;
}
.process-content {
  padding: 20px 200px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.process-steps {
  z-index: 20;
  display: flex;
  flex-direction: column;
  background-image: url("./static/img/explanation_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  font-size: 18px;
}

.process-list {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-around;
  gap: 20px;
}
.process-list-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.process-list-item:hover {
  background-color: rgba(4, 4, 4, 0.2);
}
.process-list-item p:first-child {
  font-size: 130px;
  color: #d81696;
}
.process-list-item p:nth-child(2) {
  margin-top: 15px;
  width: 75%;
  line-height: 170%;
  margin-inline: auto;
}

.process-list-item a {
  width: fit-content;
  margin-block: 10px;
  margin-inline: auto;
  color: #d81696;
}

.process-list-item a:hover {
  text-decoration: underline;
}

.quote {
  background-image: url("./static/img/quote_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.quote-text {
  font-size: 80px;
  z-index: 20;
}
.quote-content {
  padding: 50px 200px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.quote hr {
  margin-top: 50px;
  border: 3px inset;
  width: 100%;
  color: #88015b;
}
.quote-info {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}
.quote-author {
  grid-column: span 2 / span 2;
  font-size: 50px;
  color: #d81696;
}
.quote-info img {
  margin-top: -15px;
  width: 50%;
  height: auto;
  user-select: none;
}

.team {
  background-image: url("./static/img/team_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.team-content {
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.team img {
  margin-block: 15px;
  width: 30%;
  margin-inline: auto;
  border-radius: 30px;
}
.team-content p,
img {
  z-index: 20;
}
.FAQ {
  padding: 30px 200px 80px;
  background-image: url("./static/img/faq_bq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}
.accordion-wrapper {
  margin-top: 70px;
}
.faq {
  padding-block: 40px;
  border-top: 2px solid #d81696;
  cursor: pointer;
}
.faq p {
  margin-top: 20px;
  line-height: 1.5;
}
.faq li {
  margin-top: 15px;
  margin-left: 30px;
}
.faq li::marker {
  content: "- ";
}
.faq:last-child {
  border-bottom: 2px solid #d81696;
}
.faq summary {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}
.faq summary::marker {
  content: "";
}
.faq summary::after {
  content: "+";
  margin-right: 30px;
  font-weight: 10;
  transition: transform 200ms ease;
}
.faq[open] .faq-content {
  max-height: var(--max-height);
}
.faq[open] summary::after {
  transform: rotate(45deg);
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.running-container {
  margin-top: 50px;
  overflow-x: hidden;
  max-width: 100em;
}
.running-content {
  display: flex;
  width: fit-content;
  animation: slideLeftToRight 15s linear infinite;
  -webkit-transform-style: preserve-3d;
}
.running-container:last-of-type {
  margin-top: -80px;
}
.running-container:last-of-type .running-content {
  animation: slideRightToLeft 15s linear infinite;
  -webkit-transform-style: preserve-3d;
}

.running-to {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 70px;
  white-space: nowrap;
  width: fit-content;
}

.running-text {
  margin-right: 15px;
  font-size: 80px;
  user-select: none;
}

.running-to svg {
  height: auto;
  max-height: 130px;
  vertical-align: middle;
  fill: #d81696;
}
.running-container:last-of-type svg {
  fill: #88015b;
  transform: scaleX(-1);
}
@keyframes slideLeftToRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.slider {
  width: 500px;
  height: 500px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  margin-inline: auto;
  position: relative;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-img.active {
  opacity: 1;
}

.slider img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider .prev {
  left: 10px;
  opacity: 1;
  height: 30px;
}

.slider .next {
  right: 10px;
  opacity: 1;
  height: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-inline: 200px;
}
.links {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: space-around;
}
.links a {
  display: flex;
  width: fit-content;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.links a:hover {
  text-decoration: underline;
  color: #d81696;
}
.links img {
  width: 40px;
  height: auto;
  border-radius: 20px;
}
footer img {
  margin-inline: auto;
  height: 27em;
  user-select: none;
  pointer-events: none;
}

@media (min-width: 1300px) {
  .header-slogan {
    position: relative;
  }
  .header-options ol {
    position: absolute;
    right: 25%;
    transform: translateX(50%);
    bottom: 23vh;
  }
  .header-options ol li {
    font-size: 30px;
  }
}

@media (max-width: 1300px) and (min-width: 700px) {
  * {
    font-size: 20px;
  }
  .navigation {
    display: none;
  }
  .logo {
    margin-inline: auto;
    margin-top: -20px;
  }
  .header-title {
    margin-bottom: 30px;
  }
  .header-headline {
    font-size: 24px;
  }
  .header-slogan {
    font-size: 40px;
  }
  .main-title {
    font-size: 40px;
  }
  .panorama {
    flex-direction: column;
  }
  .panorama img {
    height: 60vw;
  }
  .process-content {
    padding: 20px 50px;
  }
  .process-list-item p:first-child {
    font-size: 100px;
  }
  .quote-content {
    padding: 20px 50px;
  }

  .quote-text {
    font-size: 50px;
  }
  .team-content {
    padding: 20px 50px;
  }
  .quote-author {
    font-size: 45px;
  }
  .team img {
    margin-block: 15px;
    width: 70%;
    margin-inline: auto;
    border-radius: 30px;
  }
  .FAQ {
    padding: 30px 50px 50px;
  }
  .faq summary {
    font-size: 30px;
  }
  .running-container {
    margin-top: 0;
  }
  .running-text {
    margin-right: 10px;
    font-size: 60px;
  }
  .running-to svg {
    max-height: 90px;
  }
  footer {
    margin-top: 40px;
    padding-inline: 50px;
  }
  .links {
    width: 100%;
    justify-content: space-around;
  }
  .links a {
    gap: 10px;
  }
  .links img {
    width: 40px;
  }
  footer img {
    height: 20em;
  }
}
@media (max-width: 700px) {
  * {
    font-size: 16px;
  }
  .main{
    gap:40px;
  }
  .navigation {
    display: none;
  }
  .logo {
    margin-inline: auto;
    margin-top: -20px;
  }
  .header-title {
    margin-bottom: 30px;
  }
  .header-headline {
    font-size: 20px;
    margin-inline: 30px;
    text-align: center;
  }
  .header-slogan {
    font-size: 40px;
    margin-inline: auto;
  }
  .header-options {
    position: relative;
    margin-inline: auto;
    display: flex;
    justify-content: center;
  }
  .header-options p {
    width: 30%;
  }
  .main-title {
    font-size: 40px;
  }
  .panorama {
    flex-direction: column;
  }
  .panorama img {
    height: 60vw;
  }
  .process-content {
    padding: 20px 50px;
  }
  .process-list {
    flex-direction: column;
  }
  .process-list-item p:first-child {
    font-size: 100px;
  }
  .quote-text {
    font-size: 30px;
    z-index: 20;
  }
  .quote-content {
    padding: 20px 50px;
  }
  .quote hr {
    margin-top: 20px;
  }
  .quote-info {
    margin-top: 20px;
    gap: 3px;
  }
  .quote-author {
    font-size: 20px;
    color: #d81696;
  }
  .quote-info p:nth-last-of-type(1){
    font-size: 12px;
  }
  .quote-info p:nth-last-of-type(2){
    font-size: 12px;
    word-break: break-word;
  }
  .quote-info img {
    width: 100%;
    height: auto;
  }
  .team-content {
    padding: 20px 50px;
  }

  .team img {
    margin-block: 15px;
    width: 70%;
    margin-inline: auto;
    border-radius: 30px;
  }
  .FAQ {
    padding: 30px 50px 50px;
  }
  .faq summary {
    font-size: 30px;
  }
  .running-container {
    margin-top: 0;
  }
  .running-text {
    margin-right: 0;
    font-size: 50px;
  }
  .running-to svg {
    max-height: 70px;
  }
  .running-container:last-of-type {
    margin-top: -20px;
  }
  footer {
    margin-top: 40px;
    padding-inline: 20px;
  }
  .links {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .links a {
    margin-inline: auto;
    gap: 10px;
  }
  .links img {
    width: 30px;
  }
  footer img {
    height: 20em;
  }
  .slider {
    width: 90%;
  }
}
